@use "panel.scss";
@use "NodeStyle.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.react-flow__node-default {
  padding: 2px 2px;
  &:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.373) !important;
  }
  h1 {
    margin: 0;
    line-height: 1em;
    font-size: 10px;
    font-weight: 400;
  }
}

.NodeImageContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 1px;
  .NodeImage {
    width: fit-content;
    display: flex;
    gap: 3px;
    fill: #343232;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    svg {
      height: 27px;
    }
  }
}
