$panel-mobile-breakpoint: 900px;

.customPanel {
  font-size: small;
  border: 2px solid pink;
  padding: 0px 0px;
  --margin: 15px;
  margin: var(--margin);
  height: calc(100dvh - var(--margin) * 2);
  width: 100%;
  max-width: min(160px, 40vw);
  backdrop-filter: blur(4px);

  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  .react-flow__node-default {
    margin: 0 !important;
    span {
      font-size: 10px !important;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}

@media (max-width: $panel-mobile-breakpoint) {
  .customPanel {
    height: min(20vh, 170px);
    max-width: calc(100vw - var(--margin) * 2) !important;
    flex-direction: row;
    .react-flow__node-default {
      * {
        width: fit-content;
      }
      width: unset;
    }
  }
}
